
.hero-section {
  background: url('Images/heroimg.png') center center/cover no-repeat;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 0;
  background-color: #6f42c1; 
}

.hero-section h1 {
  max-width: 800px;
  margin: 0 auto;
  font-size: clamp(1.8rem, 5vw, 2.5rem); 
}


.navbar-brand {
  color: #6f42c1;
}

.navbar-brand:hover {
  color: #f99cc9;
}

.nav-link{
  color:#6f42c1
}

.nav-link:hover{
  text-decoration: underline;
  color: #f99cc9;
}
.hero-section h1 {
  max-width: 800px;
  margin: 0 auto;
  font-size: 2.5rem;
}

.btn-primary {
  background-color: #6f42c1;
  border: none;
  
}

.btn-primary:hover {
  background-color: #f99cc9;
  border: none;
}

.btn-outline-light {
  border-color: #fff;
  color: #fff;
}

.btn-outline-light:hover {
  background-color: #fff;
  color: #6f42c1;
}

/* Mission Section */

#mission {
  background-color: #3d3368;
  padding-bottom: 7.5rem;
}

#mission h2 {
  color: white; 
  padding-top: 3.125rem;
}

#mission p {
  color: white; 
}

.higthlight{
  color: #f99cc9;
}

.mission-img {
  max-width: 80%; 
  height: auto;
}

.custom-paragraph {
  font-size: 1.1rem;
  color: #3d3368;    
  line-height: 1.6;
}

 /* Mission Section Buttons */

 .btn-primary {
  background-color: #6f42c1;
  border: none;
}

.btn-primary:hover {
  background-color: #f99cc9;
  border: none;
}

.btn-outline-light {
  border-color: #fff;
  color: #fff;
}

.btn-outline-light:hover {
  background-color: #fff;
  color: #6f42c1;
}

.button-group {
  width: 100%;
  max-width: 90%; 
  padding-left: 1rem;
  padding-right: 1rem; 
}

/* Highlight color */
.text-highlight {
  color: #f99cc9;
}

/* Apply section spacing and styling */
#how-to-apply {
  background-color: #fff;
}

#how-to-apply h2 {
  color: #3d3368;
}

#how-to-apply .btn-primary {
  background-color: #6f42c1;
  border: none;
}

#how-to-apply .btn-primary:hover {
  background-color: #f99cc9;
  color: white;
}

#how-to-apply .btn-outline-primary {
  color: #6f42c1;
  border-color: #6f42c1;
}

#how-to-apply .btn-outline-primary:hover {
  background-color: white;
  color: #f99cc9;
  border-color: #f99cc9;
}

@media (max-width: 767.98px) {
  .button-group {
    margin: 0 auto; 
    padding-left: 0; 
    padding-right: 0;
  }

.custom-btn,
.btn-primary,
.btn-outline-primary {
  width: auto;
  align-self: center;
}

}